@{
    ViewBag.Title = "Contact";
}
<h2>Contact Information</h2>

<address>
    <strong>Address</strong> <br />
    1234 Final Fantasy way <br />
    Kingdom of Alexandria <br />
    <strong>Phone</strong> <br />
    100-001-1010 
</address>

<p>Please contact our admins at this email</p>
<p><b>frizzlefry9182@gmail.com</b></p>