@{
    ViewBag.Title = "Home Page";
    <head>
        <title>Final Fantasy</title>
    </head>
}

<div class="jumbotron">
    <h2>Welcome To The Final Fantasy Database! Here you will learn all you need to know about Final Fantasy games and characters. I hope you enjoy!</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Quotes</h3>
        <p>There are tons of quotes in the world of Final Fantasy! To read quotes from memorable characters</p>
        <p><a class="btn btn-block" href="http://finalfantasy.wikia.com/wiki/Final_Fantasy_Wiki:Quotes">Click Here</a></p>
    </div>
    <div class="col-md-4">
        <h3>History</h3>
        <p>The creators of Final Fantasy havn't always been Square Enix. To learn more about the company and its history</p>
        <p><a class="btn btn-block" href="https://en.wikipedia.org/wiki/Square_Enix">Click Here</a></p>
    </div>
    <div class="col-md-4">
        <h3>News</h3>
        <p>Want updates on new Final Fantasy games? To get in on the action</p>
        <p><a class="btn btn-block" href="http://www.finalfantasyunion.com/news/">Click Here</a></p>
    </div>
</div>